* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color:#ffffff;
    text-decoration: none;
}

p {
    font-size:16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float:left;
    margin-right:25px;
}

.content {
    width:75%;
    display:inline-block;
    margin-left:20px;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #2a607c;
    color: #ffffff;
}

.about-me img {
    border:10px solid #000000
}

.content h2 {
    padding: 100 0 100 0
}

.form {
    float: right;
}

.hero-form {
    color:#ffffff;
    background-color: #2a607c;
    padding: 20px;
    width: 500px;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    bottom: 120px;
    right: 140px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-form h3{
    font-size: 24px;
    margin: 0;
}

.form-input {
    border:1px solid #000000;
    display:block;
    padding: 7px 15px;
    font-size: 16px;
    color: #2a607c;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #ffffff;
    background-color: #009900;
    border: none;
    padding: 10px 20px;
    font-size:16px;
}

.run-buddy-img {
    border: 10px solid #000000;
}

div p.mywork {
    padding: 10px 0 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.contact-me {
    background: #2a607c;
}

.my-projects {
    display:flex;
    justify-content: space-between;

}

.contact-info {
    color:#ffffff
}

.project-header {
    font-size: 48px;
    text-align: center;
    font-style: italic;
}